/* quill-custom.css */

/* 여기에 원하는 스타일을 추가합니다 */

.ql-toolbar {
  border: none !important;
  width: 100%;
  height: 60px;
  background-color: #f7f7fa;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 기타 등등 */
}

.ql-container {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: none !important;
  margin-top: 60px;
  width: 100%;
}
.ql-editor {
  background-color: #f7f7fa;
}
.ql-formats {
  border-right: 1px solid #e4e5f0;
}
.ql-header .ql-picker-label::before {
  content: '제목' !important;
  font-weight: 500;
  font-size: 16px;
  color: #8f95b2;
}
.ql-picker-item::before {
  content: '제목' !important;
}
