@font-face {
  font-family: 'Pretendard';
  src: url('/public/assets/fonts/PretendardVariable.woff2') format('woff2');
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-width: 375px;
  line-height: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: 'Pretendard';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid;
}

input::placeholder,
textarea::placeholder {
  color: #000;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

input[readonly]::placeholder,
textarea[readonly]::placeholder,
input:disabled::placeholder,
textarea:disabled::placeholder {
  color: #000;
  opacity: 1;
}

input[readonly]:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
input:disabled:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

i {
  font-style: italic;
}

input::-ms-clear,
input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  display: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.layoutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
  margin: 6rem auto;
  max-width: 1300px;
  width: 100%;
  flex: 1;
}

.layoutWrap.wiki {
  max-width: 1800px;
}

@media (max-width: 1024px) {
  .layoutWrap {
    margin: 7rem auto;
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .layoutWrap {
    margin: 5rem auto;
    padding: 0 2rem;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
